attrs==19.3.0
audio-metadata==0.11.1
bidict==0.21.2
bitstruct==8.11.1
certifi==2021.5.30
charset-normalizer==2.0.3
docutils==0.17.1
idna==3.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivymd==0.104.2
more-itertools==8.8.0
pendulum==2.1.2
Pillow==9.0.1
pprintpp==0.4.0
Pygments==2.9.0
pypiwin32==223
python-dateutil==2.8.2
pytzdata==2020.1
pywin32==301
requests==2.26.0
six==1.16.0
tbm-utils==2.6.0
urllib3==1.26.6
wrapt==1.12.1
